<header class="page-header">
    <h1>Radio Button</h1>
    <div class="header-icons">
        <a class="sketch"
           title="sketch file"
           href="https://sketch.cloud/s/OWAmR?settings=OWAmR"
           target="new">
            <img src="../../assets/sketch.svg"
                 alt="sketch icon" />
        </a>
        <app-compliance-marker></app-compliance-marker>
    </div>
</header>

<section class="component-container">
    <header>
        <p>
            Radio Buttons are inputs that allow users to select only one option from a set.
        </p>
        <h3>Use Case</h3>
        <p>
            Use Radio Buttons are when there can only be one option chosen from a set. Consider using a Checkbox if the
            user should select more than one option from a set.
        </p>
        <h3>Implementation</h3>
        <app-parameters [classesConfig]="classesConfig"
                        [attrsConfig]="attrsConfig">
        </app-parameters>
    </header>
</section>
<section class="component-container">
    <div class="controls">
        <p>Input states:</p>
        <div class="rvt-radio">
            <input id="def"
                   type="radio"
                   name="controls"
                   [checked]="default"
                   (change)="default = true; isSmall = false; isAbove = false; isDis = false; isRo = false" />
            <label for="def">Default</label>
        </div>

        <div class="rvt-radio">
            <input id="sm"
                   type="radio"
                   name="controls"
                   [checked]="isSmall"
                   (change)="isSmall = !isSmall; default = false; isAbove = false; isDis = false; isRo = false" />
            <label for="sm">Small</label>
        </div>

        <div class="rvt-radio">
            <input id="lbl"
                   type="radio"
                   name="controls"
                   [checked]="isAbove"
                   (change)="isAbove = !isAbove; default = false; isSmall = false; isDis = false; isRo = false" />
            <label for="lbl">Label Above</label>
        </div>

        <div class="rvt-radio">
            <input id="ro"
                   type="radio"
                   name="controls"
                   [checked]="isRo"
                   (change)="isRo = !isRo; default = false; isAbove = false; isDis = false; isSmall = false" />
            <label for="ro">Read Only</label>
        </div>

        <div class="rvt-radio">
            <input id="dis"
                   type="radio"
                   name="controls"
                   [checked]="isDis"
                   (change)="isDis = !isDis; default = false; isAbove = false; isSmall = false; isRo = false" />
            <label for="dis">Disabled</label>
        </div>
    </div>
    <app-example-snippet>
        <div class="example-component">
            <div class="rvt-radio"
                 [ngClass]="{ 'label-above': isAbove }">
                <input id="radOne"
                       type="radio"
                       name="rad"
                       [ngClass]="{ 'small-radio': isSmall, 'read-only': isRo }"
                       [disabled]="isDis || isRo"
                       [checked]="true" />
                <label for="radOne">Radio 1</label>
            </div>

            <div class="rvt-radio"
                 [ngClass]="{ 'label-above': isAbove }">
                <input id="radTwo"
                       type="radio"
                       name="rad"
                       [ngClass]="{ 'small-radio': isSmall, 'read-only': isRo }"
                       [disabled]="isDis || isRo" />
                <label for="radTwo">Radio 2</label>
            </div>
        </div>

        <textarea class="example-code"
                  readonly
                  title="HTML"
                  *ngIf="!isDis && !isRo && !isAbove && !isSmall">
<div class="rvt-radio">
    <input id="radio1" type="radio"/>
    <label for="radio1">Radio 1</label>
</div>
<div class="rvt-radio">
    <input id="radio2" type="radio"/>
    <label for="radio2">Radio 2</label>
</div>
      </textarea>
        <textarea class="example-code"
                  readonly
                  *ngIf="isDis">
<div class="rvt-radio">
    <input id="radio1" type="radio" disabled/>
    <label for="radio1">Radio 1</label>
</div>
<div class="rvt-radio">
    <input id="radio2" type="radio" disabled/>
    <label for="radio2">Radio 2</label>
</div>
        </textarea>
        <textarea class="example-code"
                  readonly
                  *ngIf="isRo">
<div class="rvt-radio">
    <input id="radio1" class="read-only" type="radio" disabled/>
    <label for="radio1">Radio 1</label>
</div>
<div class="rvt-radio">
    <input id="radio2" class="read-only" type="radio" disabled/>
    <label for="radio2">Radio 2</label>
</div>
        </textarea>
        <textarea class="example-code"
                  readonly
                  *ngIf="isAbove">
<div class="rvt-radio label-above">
    <input id="radio1" type="radio"/>
    <label for="radio1">Radio 1</label>
</div>
<div class="rvt-radio label-above">
    <input id="radio2" type="radio"/>
    <label for="radio2">Radio 2</label>
</div>
        </textarea>

        <textarea class="example-code"
                  readonly
                  *ngIf="isSmall">
<div class="rvt-radio">
    <input id="radio1" class="small-radio" type="radio"/>
    <label for="radio1">Radio 1</label>
</div>
<div class="rvt-radio">
    <input id="radio2" class="small-radio" type="radio"/>
    <label for="radio2">Radio 2</label>
</div>
    </textarea>
    </app-example-snippet>
</section>