<rvt-drawer [drawerOpen]="drawerStatus"
            (apronClickEvent)="closeDrawer()"
            class="theme-drawer">
    <div rivet-drawer-content>
        <button class="rvt-btn-icon rivet-icon-menu-close close-x"
                (click)="closeDrawer()"></button>

        <h2 class="drawer-header">Theming</h2>
        <p class="blurb">Personalize your experience by adjusting the look and feel of the interface to match your
            personal
            preferences.</p>

        <div class="rvt-card">
            <h3>Dark mode</h3>
            <app-dark-mode></app-dark-mode>
        </div>

        <!-- <div class="rvt-card">
            <h3>Style</h3>
            <button class="rvt-btn-secondary"
                    (click)="setSharp()">Sharp</button>
            <button class="rvt-btn-secondary"
                    (click)="resetStyle()">Standard</button>
            <button class="rvt-btn-secondary"
                    (click)="setRound()">Round</button>
        </div> -->

        <advicent-rivet-expansion-panel>
            <div header-content>
                <h3>Layout</h3>
                <ng-container *ngIf="customLayout">
                    <span class="layout-label">(custom)</span>
                    <button (click)="resetLayout()"
                            class="rvt-btn-secondary">
                        <span class="rivet-icon-reset"></span>
                        Reset
                    </button>
                </ng-container>
                <ng-container *ngIf="!customLayout">
                    <span class="slider-label">Dense</span>
                    <mat-slider max="2"
                                min="0"
                                [(ngModel)]="lay"
                                (ngModelChange)="changeLayout(lay)"
                                [disabled]="customLayout">
                    </mat-slider>
                    <span class="slider-label">Relaxed</span>
                </ng-container>
            </div>
            <div expansion-content>
                <div class="slider-section">
                    <h4>Text size</h4>
                    <span class="slider-label">Smaller</span>
                    <mat-slider max="2"
                                min="0"
                                [(ngModel)]="txt"
                                (ngModelChange)="updateText(txt)">
                    </mat-slider>
                    <span class="slider-label">Larger</span>
                </div>
                <div class="slider-section">
                    <h4>Spacing</h4>
                    <span class="slider-label">Smaller</span>
                    <mat-slider max="2"
                                min="0"
                                [(ngModel)]="spc"
                                (ngModelChange)="updateSpacing(spc)">
                    </mat-slider>
                    <span class="slider-label">Larger</span>
                </div>
            </div>
        </advicent-rivet-expansion-panel>

        <a class="rvt-link"
           (click)="advanced = !advanced">
            {{(advanced ? 'Hide' : 'Show')}}
            advanced
        </a>

        <div class="advanced"
             *ngIf="advanced">
            <!-- Color Panel -->
            <advicent-rivet-expansion-panel>
                <div header-content>
                    <h3>Color</h3>
                </div>
                <div expansion-content>
                    <mat-form-field>
                        <mat-select placeholder="Color Variable"
                                    disableRipple
                                    disableOptionCentering>
                            <mat-option *ngFor="let item of clrVars"
                                        [value]="item"
                                        (click)="selectClr(item)">
                                {{ item.name }} <span *ngIf="item.edited">*</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div class="color-box"
                         [ngStyle]="{ background: selectedColor }"></div>

                    <div class="color-select">
                        <h5>Hue</h5>
                        <mat-slider class="clr-slider"
                                    min="0"
                                    max="360"
                                    [(ngModel)]="h"
                                    (ngModelChange)="updateClr()"></mat-slider>
                        <span>{{ h }}</span>
                    </div>

                    <div class="color-select">
                        <h5>Saturation</h5>
                        <mat-slider class="clr-slider"
                                    min="0"
                                    max="100"
                                    [(ngModel)]="s"
                                    (ngModelChange)="updateClr()"></mat-slider>
                        <span>{{ s }}</span>
                    </div>

                    <div class="color-select">
                        <h5>Lightness</h5>
                        <mat-slider class="clr-slider"
                                    min="0"
                                    max="100"
                                    [(ngModel)]="l"
                                    (ngModelChange)="updateClr()"></mat-slider>
                        <span>{{ l }}</span>
                    </div>

                    <button class="rvt-btn-secondary"
                            (click)="resetClr()">Reset this color</button>
                </div>
            </advicent-rivet-expansion-panel>

            <!-- Font panel -->
            <div class="rvt-card">
                <h3>Text size</h3>

                <button class=" rvt-btn-icon rivet-icon-add"
                        (click)="increaseTxt()">
                </button>
                <button class=" rvt-btn-icon rivet-icon-subtract"
                        (click)="decreaseTxt()">
                </button>
                <button class="rvt-btn-secondary"
                        (click)="resetText()">Reset</button>
            </div>

            <!-- Spacing Panel -->
            <div class="rvt-card">
                <h3>Spacing</h3>
                <button class="rvt-btn-icon rivet-icon-add"
                        (click)="increaseSpacing()">
                </button>
                <button class="rvt-btn-icon rivet-icon-subtract"
                        (click)="decreaseSpacing()">
                </button>
                <button class="rvt-btn-secondary"
                        (click)="resetSpacing()">Reset</button>
            </div>
        </div>
    </div>
</rvt-drawer>