<h5 mat-dialog-title>The more you know <span class="rivet-icon-star"></span></h5>
<div mat-dialog-content>
  <p>
    This component meets <strong>WCAG 2.1 Level AA</strong> compliance!
  </p>
  <br />
  <p>For more information
    on accessibility within Rivet, check out the <a routerLink="./patterns/a11y">accessibility</a> page.
    <br/>
    For more information about WCAG compliance, visit the
    <a href="https://www.w3.org/TR/WCAG21/" target="new">W3C reference material</a>
  </p>
</div>

<div mat-dialog-actions>
  <button class="rvt-btn-text" routerLink="./patterns/a11y" [mat-dialog-close]>Take me to accessibility</button>
  <button class="rvt-btn-secondary" [mat-dialog-close]>Got it</button>
</div>
