<header class="page-header">
    <h1>Accessibility</h1>
</header>

<section class="content-container">
    <header>
        <h2>What is it?</h2>
        <p>The practice of making your site accommodating to <strong>everyone</strong> regardless of situation,
            circumstances or ability.</p>
        <ul>There are 5 common accomodations to consider when building out products accessibly.
            <li><strong>Visual</strong> - Low or no Vision, Color blindness</li>
            <li><strong>Auditory</strong> - Deafness or hard of hearing</li>
            <li><strong>Physical / Motor</strong> - Limited mobility, tremors</li>
            <li><strong>Cognitive</strong> - Dyslexia, autism, English as a second language</li>
            <li><strong>Technical</strong> - Small screens, old technology, connectivity, internet speeds</li>
        </ul>
    </header>
</section>

<section class="content-container">
    <header>
        <h2>Our Approach</h2>
        <p>
            In order to make our products easier to use for everyone, we follow accessibility recommendations from the
            Web
            Content Accessibility Guidelines 2.1 - AA [<a class="rvt-link"
               href="https://www.w3.org/TR/WCAG21/"
               target="new">WCAG 2.1</a>].
        </p>
    </header>
    <figure>
        <iframe width="750"
                height="400"
                src="https://miro.com/app/embed/o9J_kw_dlI0=/?"
                frameborder="0"
                scrolling="no"
                allowfullscreen></iframe>
        <figcaption>Accessibility roadmap</figcaption>
    </figure>
</section>

<section class="content-container principles">
    <header>
        <h2>Principles</h2>
        <p>There are 4 principles that the WCAG guidelines follow to set a foundation for anyone to access and use web
            content.</p>
    </header>

    <h3>Perceivable</h3>
    <p>All users are able to see or hear the content on the page.</p>

    <h3>Operable</h3>
    <p>All users are able to interact with the interface and navigation.</p>

    <h3>Understandable</h3>
    <p>All users are able to comprehend the content of the site.</p>

    <h3>Robust</h3>
    <p>All users can use the site with assistive techonologies (screen readers, screen magnifiers, etc.)</p>

</section>

<section class="content-container">
    <header>
        <h2>Guidelines</h2>
    </header>
    <header>
        <h3>Color Contrast</h3>
        <p>
            Across our products, we meet the WCAG contrast success criterion 1.4.3. This means that all text must have a
            minimum contrast ratio of 4.5:1.
        </p>
    </header>
    <section class="a11y-contrast">
        <img src="../../../assets/patterns/contrast_sm.jpg"
             alt="Example of a passing contrast color" />
        <img src="../../../assets/patterns/contrast_sm2.jpg"
             alt="Example of a failing contrast color" />
        <p>
            Color contrast can be tested at
            <a class="rvt-link" target="new"
               href="http://www.accessible-colors.com">accessible-colors.com</a>
        </p>
    </section>

    <header>
        <h3>Focus states</h3>
        <p>
            For focus states we use our hover state styling with the addition of the browser default outline in order to
            draw attention to the component for keyboard users.
        </p>
    </header>

    <figure class="img-block">
        <img class="example-img"
             src="../../../assets/patterns/btn_hover.gif"
             alt="Hover effect on button" />
        <figcaption>Hover style</figcaption>
    </figure>
    <figure class="img-block">
        <img class="example-img"
             src="../../../assets/patterns/btn_focus.gif"
             alt="Focus effect on button" />
        <figcaption>Focus style</figcaption>
    </figure>

    <header>
        <h3>ARIA Tags</h3>
        <p>
            For custom components, created with non standard elements, we use ARIA tags to enable screen-readers to
            understand what the component is.
        </p>
    </header>

    <header>
        <h3>Testing</h3>
        <p>To verify that we are following accessibility standards, there are multiple ways to test our products.</p>
    </header>
    <p>
        <strong>Axe Developer Tools</strong> - a browser extension for testing any site. Available for Chrome +
        Firefox.<br />
        <strong>Firefox</strong> has built in accessibility testing under web developer > accessibility (Shift +
        F12).<br />
        <strong>Chrome</strong> has built in accessibility testing under DevTools > Audits. <br />
        <strong>WAVE</strong> - a browser extension for testing accessibility errors. Availble for Chrome +
        Firefox.<br />
        <strong>NVDA</strong> - free software (for windows) to test screen reader support. Available <a class="rvt-link" target="new"
           href="https://www.nvaccess.org/download/">here</a>.
    </p>
</section>

<section class="content-container">
    <header>
        <h3>Keyboard Navigation</h3>
        <p>All functionality that is accomplished with a mouse, should also be achievable using only a keyboard.</p>
    </header>
    <ul>
        <li>To advance through elements of the page, users should be able to use the <code>TAB</code> key.</li>
        <li>Users should also be able to reverse through elements using <code> SHIFT + TAB </code></li>
        <li>To select an element (such as a button, link, or tab), the user can hit the <code>ENTER</code> key.</li>
        <li>To escape an element (such as dialogs, modals, and dropdowns) users can use the <code>ESC</code> key.</li>
        <li>
            Within certain elements that contain extra functionality (like dropdowns and datepickers), users should be
            able
            to navigate around using the arrow keys and select options using <code>SPACE</code>
        </li>
        <li>
            When navigating within components (such as dialogs), focus should remain within the component until the user
            closes/exits the component. No background elements should be focusable while the user is in the component.
        </li>
    </ul>
</section>