<main>
    <header>
        <h1 class="page-header">Validation & Errors</h1>
    </header>
    <section class="content-container">
        <section>
            <h2>What Are Errors?</h2>
            <p>Errors occur either when the application fails during a valid action taken by the user (system-generated)
                or when the user takes an action that is not allowed or problematic (user-generated).</p>
        </section>
        <section>
            <h3>How does Rivet approach errors?</h3>
            <p>We first aim for prevention through..</p>
            <h4>Design</h4>
            <p>The interface should be designed so that it helps users avoid taking actions that could lead to an error
                in the first place.</p>
            <p><strong>Examples: </strong>Date range pickers should not allow a user to select an end date before a
                start date, Allow a user to select from a drop down menu vs. manually entering an option when there is a
                limited set to choose from. Ensure an advisor cannot be deleted until clients are reassigned to prevent
                clients from
                being stuck in
                limbo
            </p>
            <h4>Validation</h4>
            <p>Use validation on inputs to prevent user errors and to ensure accurate, clean data is sent to the
                application. Whenever possible validation should occur "automatically" before the user clicks the submit
                button.
            </p>
            <p><strong>Examples:</strong> Verify that new template names do not conflict with. Validate custom report
                content to prevent code injection</p>
        </section>
        <section>
            <h3>But, when errors do happen</h3>
            <h4>Identify</h4>
            <p>Utilize the proper Rivet components to identify the error as close to its context as possible.</p>
            <p><strong>Examples:</strong> Display input-specific errors in the same space and with the same styling as
                validation. Use a snack bar component that takes the user to the page with the error when it is
                occurring out of same page context
            </p>
            <h4>Inform</h4>
            <p>Provide the user with a simple description of what went wrong and what they need to do to continue.
                Ideally this will involve resolving the issue. If the issue cannot be immediately resolved, (as in the
                case of a total system failure) the user should be made aware.</p>
            <p><strong>Examples:</strong> Inclusion of directions to contact support (when appropriate) "Friendly"
                explanation of resource not found, and letting the user know that they will be directed back to the
                results page via an error modal</p>
            <h4>Preserve</h4>
            <p>If an error is returned, make every attempt to preserve as much of the user's work as possible.</p>
            <p><strong>Examples:</strong> Retain all input values as set by user. Allow them to continue working from
                the same point they were prior to the error (or as close as possible)</p>
        </section>
        <h3>What components are used in Rivet's error handling approach?</h3>
        <p>As previously mentioned, we should first strive to design in a way to prevent users from</p>
        <section>
            <h4>Inline Error</h4>
            <h5>How should they work?</h5>
            <p>They allow the user to:</p>
            <ul>
                <li>continue viewing the data on the current screen</li>
                <li>choose to ignore the error if it is not preventing them from completing their task</li>
                <li>easily identify the locations of the errors on the screen within context </li>

            </ul>
            <p>Inline errors may also allow a user to resubmit the previous request to attempt to reload the data
                submitted or re-request the data requested.</p>
            <h5>Where are they used?</h5>
            <ul>
                <li>Lists</li>
                <li>Form inputs</li>
                <li>Form submit buttons</li>
                <li>Modals</li>
                <li>Inline edit fields</li>
            </ul>
            <h5>Examples</h5>
            <p>screenshots</p>
            <!-- <h5>When not to use inline errors</h5>
            <p></p> -->
        </section>
        <section>
            <h4>Error Modal</h4>
            <h5>How should they work?</h5>
            <p>
                An error modal should appear when a requested page or link is not available. It should then link the
                user back to the most recent "safe" area where the user can continue normal use. They are used when a
                workflow needs interruption.
            </p>
            <h5>Where are they used?</h5>
            <p>Error modals are used when a user tries to view:</p>
            <ul>
                <li>A page they do not have access to</li>
                <li>Content that has been deleted, but the link still appears on screen</li>
            </ul>
            <h5>Examples</h5>
            <p>screenshots</p>
            <h5>When not to use error modals</h5>
            <p>Error modals should not be used to indicate errors that are appearing on the same page or for errors
                identified by validation. If the user can continue working while the error is displayed on the page, a
                modal is not needed.</p>
        </section>
        <section>
            <h4>Error Snack Bar</h4>
            <h5>How should they work?</h5>
            <p>Error snack bars should</p>
            <ul>
                <li>Appear at the bottom of the screen when the error occurs</li>
                <li>Allow the user to click a button to be taken to a location where the error can be corrected</li>
                <li>Remain displayed until the user dismisses them</li>
            </ul>
            <p>
                Users may continue working while an error snack bar is displayed
            </p>
            <h5>Where are they used?</h5>
            <p>
                An error snack bar should be used when an error occurs out of context - meaning that the problem is not
                attached to something that the user sees on the screen. The error is not interrupting the user's
                workflow, but may mean that a previously attempted action was not successfully completed.
            </p>
            <h5>Examples</h5>
            <p>screenshot</p>
            <h5>When not to use error snackbar:</h5>
            <p>Do not use an error snack bar when the error can be displayed in context on the same page.</p>
        </section>
        <section>
            <h4>Full Page Error</h4>
            <h5>How should they work?</h5>
            <p>A full page error should prevent a user from accessing any part of the application. The user's only
                option is to allow redirection to a different page. It should indicate that the system is down or that
                the connection to the system has been lost.</p>
            <h5>Where are they used?</h5>
            <p>This is used for full 500 "fatal" errors - full system failure.</p>
            <h5>Examples</h5>
            <p>screenshot</p>
            <h5>When not to use full page errors</h5>
            <p>
                Do not use alternate full page errors for situations in which page content is not found, or when access
                to the page is denied. Instead treat those the same way and redirect the user to the login page (if
                functioning). In general, when content is not found while a user is logged in, they still should be able
                to see the basic header, footer, and other page elements. These should not be replaced with a full page
                error except in the case of a total system failure. Instead, use an alternate error component as
                outlined above.
            </p>
        </section>
        <section>
            <h3>What kind of language do we use in error messages?</h3>
            <h4>DO:</h4>
            <ul>
                <li>Use the NaviPlan Sage tone of voice</li>
                <li>Explain in simple terms what went wrong</li>
                <li>Let the user know what they can do to resolve the issue</li>
                <li>Encourage the user to contact support if the issue continues to occur (depending on the error type)
                </li>
            </ul>
            <h4>DO NOT:</h4>
            <ul>
                <li>Use language that places blame on the user</li>
                <li>Include technical terms in the main error message content</li>
            </ul>
        </section>
    </section>
</main>