<header class="page-header">
    <h1>Carousel</h1>
    <div class="header-icons">
        <!-- <a class="rivet-icon-pdf"
       title="spec sheet"
       href="../../assets/specs/Rivet_Button_Specs.pdf"
       target="new"></a>
    <a class="sketch"
       title="sketch file"
       href="https://sketch.cloud/s/vK2P1?settings=vK2P1"
       target="new">
        <img src="../../assets/sketch.svg"
             alt="sketch icon" />
    </a>
    <app-compliance-marker></app-compliance-marker> -->
    </div>
</header>

<section class="component-container">
    <p>
        The Carousel is a way of displaying multiple panels of information non-simultaneously.
    </p>
    <h3>Use Case</h3>
    <p>
        Use a Carousel in cases where it is important to show multiple similar panels of information in a compact area
        (e.g. a list of goals).
    </p>

    <h3>Implementation</h3>
    <p>
        To operate correctly, the carousel requires the <code>advicent-rivet-carousel</code> component to wrap the slide
        content
        that will be included in the carousel. Each slide must be marked with the
        <code>advicentRivetCarouselSlide</code>
        attribute directive, else it will not be recognized as a slide.
    </p>
</section>

<section class="component-container">

    <app-example-snippet>
        <div class="example-component"
             style="background-color: var(--rvt-color-primary-dark);">
            <advicent-rivet-carousel>
                <div advicentRivetCarouselSlide>
                    <h3>Slide 1</h3>
                    <button class="rvt-btn-primary inverse">Button 1</button>
                </div>
                <div advicentRivetCarouselSlide>
                    <h3>Slide 2</h3>
                    <button class="rvt-btn-primary inverse">Button 2</button>
                </div>
                <div advicentRivetCarouselSlide>
                    <h3>Slide 3</h3>
                    <button class="rvt-btn-primary inverse">Button 3</button>
                </div>
            </advicent-rivet-carousel>
        </div>

        <textarea class="example-code"
                  readonly
                  title="HTML">
<advicent-rivet-carousel>
    <div advicentRivetCarouselSlide>
        <h3>Slide 1</h3>
        <button class="rvt-btn-primary inverse">Button 1</button>
    </div>
    <div advicentRivetCarouselSlide>
        <h3>Slide 2</h3>
        <button class="rvt-btn-primary inverse">Button 2</button>
    </div>
    <div advicentRivetCarouselSlide>
        <h3>Slide 3</h3>
        <button class="rvt-btn-primary inverse">Button 3</button>
    </div>
</advicent-rivet-carousel>
    </textarea>
    </app-example-snippet>
</section>
<!-- 



<div style="padding: 50px; background-color: #292868">
    <rivet-carousel>
        <div rivet-carousel-slide>
            <h3>Slide 1</h3>
            <button>thinger 1</button>
            <div>
                <button>Button sub</button>
            </div>
        </div>
        <div rivet-carousel-slide>
            <h3>Slide 2</h3>
            <button>thinger 2</button>
        </div>
        <div rivet-carousel-slide>
            <h3>Slide 3</h3>
            <button>thinger 3</button>
        </div>
        <div rivet-carousel-slide>
            <h3>Slide 4</h3>
            <button>thinger 4</button>
        </div>
    </rivet-carousel>
</div> -->