<header class="page-header">
    <h1>Roadmap</h1>
</header>

<section class="component-container half-container">
    <header>
        <h2>Rivet v4</h2>
    </header>

    <ul>
        <li>Development has begun for Rivet v4 in preparation for the NaviPlan Essentials project. It is intended to
            supply
            all the necessary components and styles to make a beta release of the Essentials tool a success.</li>
        <li>Continued iteration and patching is intended after the initial beta release to provide the best user
            experience
            in the Essentials product.</li>
    </ul>
</section>

<section class="component-container half-container">
    <header>
        <h2>Rivet v3</h2>
    </header>
    <ul>
        <li>Rivet v3 has been released to support the Guided Retirement project. It is intended to inclued all the
            components and styles required to make that project a success.</li>
        <li>v3.5 will continue to receive patch versions as necessary to provide for Guided Retirement bug fixes.</li>
    </ul>
</section>


<section class="component-container">
    <header>
        <h2>Planned updates</h2>
        <p>For up-to-date tracking on what DesignOps is currently taking on, visit our <a class="rvt-link"
               href="https://dev.azure.com/advicent/Naviplan/_boards/board/t/DesignOps/Backlog%20items/?fullScreen=true"
               target="new">Azure board</a>.</p>
    </header>

    <ul>
        <strong>Documentation updates</strong>
        <li>Additional documentation around Dialog Box component</li>
        <li>Improved documentation around importing Rivet module(s)</li>
        <li>More robust documentation around component options/configurations</li>
    </ul>
</section>

<section class="component-container">
    <header>
        <h2>DesignOps Roadmap (Including Rivet Roadmap)</h2>
    </header>

    <iframe width="640"
            height="360"
            src="https://miro.com/app/embed/o9J_kw86Vmo=/?"
            frameborder="0"
            scrolling="no"
            allowfullscreen></iframe>
</section>

<!-- <section class="component-container">
    <h5>Planned components</h5>
    <p>
        This list is a rough estimate for upcoming tasks in the UX backlog. If there are components that your team will
        need
        sooner please let the UX team know.
    </p>
    <p>
        Next to each component is the best guess for if it will be a Rivet component or a material component. Ones
        marked
        with an * are verified.
    </p>
    <ul>
        <li>
            <s>Dropdowns - Material*</s>
            <span class="rivet-icon-check"> completed v0.1.8</span>
        </li>
        <li>
            <s>Tabs</s>
            <span class="rivet-icon-check"> completed v0.1.10</span>
        </li>
        <li>
            <s>Top Nav</s>
            <span class="rivet-icon-check"> completed v0.1.10</span>
        </li>
        <li>
            <s>Expansion panel - Material</s>
            <span class="rivet-icon-check"> completed v0.1.13</span>
        </li>
        <li>
            <s>Dialog - Material</s>
            <span class="rivet-icon-check"> completed v0.1.13</span>
        </li>
        <li>
            <s>Progress Spinner/Loading Pulsar - Material</s>
            <span class="rivet-icon-check"> completed v0.1.16</span>
        </li>
        <li>
            <s>Side Nav</s>
            <span class="rivet-icon-check"> completed v0.1.16</span>
        </li>
        <li>
            <s>Tables - Material</s>
            <span class="rivet-icon-check"> completed v0.1.16</span>
        </li>
        <li>
            <s>Pagination - Material</s>
            <span class="rivet-icon-check"> completed v0.1.16</span>
        </li>
        <li>
            <s>Delete Overlay - Sub component of expandable line item</s>
            <span class="rivet-icon-check"> completed v0.1.19</span>
        </li>
        <li>
            <s>Divider - Rivet</s>
            <span class="rivet-icon-check"> completed v0.1.19</span>
        </li>
        <li>
            <s>Color Variables</s>
            <span class="rivet-icon-check"> completed v0.1.20</span>
        </li>
        <li>
            <s>Radio Button - Rivet</s>
            <span class="rivet-icon-check"> completed v0.1.22</span>
        </li>
        <li>
            <s>Datepicker - Material</s>
            <span class="rivet-icon-check"> completed v0.1.27</span>
        </li>
        <li>
            <s>Snackbar - Material</s>
            <span class="rivet-icon-check"> completed v0.3.10</span>
        </li>
        <li>
            <s>Tooltip - Rivet</s>
            <span class="rivet-icon-check"> completed v0.5.6</span>
        </li>
        <li>Menu/List Button - Material</li>
        <li>Tree</li>
        <li>Accordion - Material</li>
        <li>Number Selector - Rivet</li>
        <li>Toggle Switch</li>
        <li>Slider</li>
    </ul>
</section> -->