<header class="page-header">
    <h1>Expansion Panel</h1>
</header>

<section class="component-container">
    <p>
        Expansion Panels toggle the visibility of additional information or sub-items.
    </p>
    <h3>Use Case</h3>
    <p>
        Use Expansion Panels to hide information or related items directly on the page.
    </p>
    <h3>Implementation</h3>
    <app-parameters [inputsConfig]="inputsConfig"
                    [outputsConfig]="outputsConfig">
    </app-parameters>
</section>
<section class="component-container">
    <app-example-snippet>
        <div class="example-component">
            <advicent-rivet-expansion-panel>
                <div header-content>
                    <mat-form-field>
                        <input matInput
                               placeholder="Label" />
                        <mat-hint>Helper Text</mat-hint>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput
                               placeholder="Label" />
                        <mat-hint>Helper Text</mat-hint>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput
                               placeholder="Label" />
                        <mat-hint>Helper Text</mat-hint>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput
                               placeholder="Label" />
                        <mat-hint>Helper Text</mat-hint>
                    </mat-form-field>
                </div>
                <span header-button-content> </span>
                <div expansion-content>
                    <mat-form-field>
                        <input matInput
                               placeholder="Label" />
                        <mat-hint>Helper Text</mat-hint>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput
                               placeholder="Label" />
                        <mat-hint>Helper Text</mat-hint>
                    </mat-form-field>
                    <br />
                    <br />
                    <mat-form-field>
                        <input matInput
                               placeholder="Label" />
                        <mat-hint>Helper Text</mat-hint>
                    </mat-form-field>
                    <br /><br />
                    <mat-form-field>
                        <input matInput
                               placeholder="Label" />
                        <mat-hint>Helper Text</mat-hint>
                    </mat-form-field>
                </div>
            </advicent-rivet-expansion-panel>
            <advicent-rivet-expansion-panel>
                <div header-content>
                    <mat-form-field>
                        <input matInput
                               placeholder="Label" />
                        <mat-hint>Helper Text</mat-hint>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput
                               placeholder="Label" />
                        <mat-hint>Helper Text</mat-hint>
                    </mat-form-field>
                </div>
                <span header-button-content> </span>
                <div expansion-content>
                    <mat-form-field>
                        <input matInput
                               placeholder="Label" />
                        <mat-hint>Helper Text</mat-hint>
                    </mat-form-field>
                </div>
            </advicent-rivet-expansion-panel>
        </div>

        <textarea class="example-code large"
                  title="HTML">
<advicent-rivet-expansion-panel>
    <div header-content>
        <mat-form-field>
            <input matInput placeholder="Label" />
            <mat-hint>Helper Text</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Label" />
            <mat-hint>Helper Text</mat-hint>
        </mat-form-field>
    </div>
    <span header-button-content>
        <button class="rvt-btn-icon rivet-icon-delete" aria-label="Delete"></button>
    </span>
    <div expansion-content>
        <mat-form-field>
            <input matInput placeholder="Label" />
            <mat-hint>Helper Text</mat-hint>
        </mat-form-field>
    </div>
</advicent-rivet-expansion-panel>
    </textarea>
    </app-example-snippet>
</section>
<section class="component-container">
    <header>
        <h2>
            Expandable Line Item With Delete Overlay
        </h2>

        <h3>Implementation</h3>
        <p>
            Set by providing <code>deleteButtonCallback</code>, <code>overlayDeleteBtnText</code>, and
            <code>overlayCancelBtnText</code>.
        </p>
        <p>
            <code>rivet-delete-overlay-content</code> is also required on an element (&lt;p&gt; in this case) that
            contains
            the text message attribute (to transclude the "are you sure?" message in a translatable way)
        </p>
    </header>
    <app-example-snippet>
        <div class="example-component">
            <advicent-rivet-expansion-panel (deleteButtonCallback)="mockDelete($event)"
                                            overlayDeleteBtnText="Delete"
                                            overlayCancelBtnText="Cancel">
                <p rivet-delete-overlay-content>Are you sure you want to delete this item?</p>
                <div header-content>
                    <mat-form-field>
                        <input matInput
                               placeholder="Label" />
                        <mat-hint>Helper Text</mat-hint>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput
                               placeholder="Label" />
                        <mat-hint>Helper Text</mat-hint>
                    </mat-form-field>
                </div>
                <span header-button-content> </span>
                <div expansion-content>
                    <mat-form-field>
                        <input matInput
                               placeholder="Label" />
                        <mat-hint>Helper Text</mat-hint>
                    </mat-form-field>
                </div>
            </advicent-rivet-expansion-panel>
        </div>

        <textarea class="example-code large"
                  title="HTML">
<advicent-rivet-expansion-panel
  (deleteButtonCallback)="mockDelete($event)"
  overlayDeleteBtnText="Delete"
  overlayCancelBtnText="Cancel"
>
  <p rivet-delete-overlay-content>Are you sure you want to delete this item?</p>
  <div header-content>
      <mat-form-field>
          <input matInput placeholder="Label" />
          <mat-hint>Helper Text</mat-hint>
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Label" />
          <mat-hint>Helper Text</mat-hint>
      </mat-form-field>
  </div>
  <span header-button-content>
      <button class="rvt-btn-icon rivet-icon-delete" aria-label="Delete"></button>
  </span>
  <div expansion-content>
      <mat-form-field>
          <input matInput placeholder="Label" />
          <mat-hint>Helper Text</mat-hint>
      </mat-form-field>
  </div>
</advicent-rivet-expansion-panel>
    </textarea>
    </app-example-snippet>
</section>
<section class="component-container">
    <header>
        <h2>
            Expandable Line Item Without close button
        </h2>

        <h3>Implementation</h3>
        <p>
            Provide <code>showCloseButton</code> a false boolean value to hide the close button. By default the value
            will be true and the button will be shown.
        </p>
    </header>
    <app-example-snippet>
        <div class="example-component">
            <advicent-rivet-expansion-panel [showCloseButton]="false">
                <div header-content>
                    <mat-form-field>
                        <input matInput
                               placeholder="Label" />
                        <mat-hint>Helper Text</mat-hint>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput
                               placeholder="Label" />
                        <mat-hint>Helper Text</mat-hint>
                    </mat-form-field>
                </div>
                <span header-button-content> </span>
                <div expansion-content>
                    <mat-form-field>
                        <input matInput
                               placeholder="Label" />
                        <mat-hint>Helper Text</mat-hint>
                    </mat-form-field>
                </div>
            </advicent-rivet-expansion-panel>
        </div>

        <textarea class="example-code large"
                  title="HTML">
<advicent-rivet-expansion-panel [showCloseButton]="false">
    <div header-content>
        <mat-form-field>
            <input matInput
                    placeholder="Label" />
            <mat-hint>Helper Text</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput
                    placeholder="Label" />
            <mat-hint>Helper Text</mat-hint>
        </mat-form-field>
    </div>
    <span header-button-content> </span>
    <div expansion-content>
        <mat-form-field>
            <input matInput
                    placeholder="Label" />
            <mat-hint>Helper Text</mat-hint>
        </mat-form-field>
    </div>
</advicent-rivet-expansion-panel>
    </textarea>
    </app-example-snippet>
</section>