h2 {
    margin-bottom: 0;
}
h3 {
    margin-top: var(--rvt-spacing-lg);
}
button {
    margin-top: var(--rvt-spacing-md);
}
th {
    text-align: left;
    padding-top: var(--rvt-spacing-sm);
}