<main>
    <header>
        <h1 class="page-header">Structure</h1>
        <p></p>
    </header>
    <section class="content-container">
        <header>
            <h5>Semantic Elements</h5>
            <p>Semantic elements help define the different parts of a page in a way that gives them meeting.
                Instead of using elements such as <code>&lt;div class="nav"&gt;</code> we can use <code>&lt;nav&gt;</code>.
                This helps the browser, developer and screen readers understand what each part of the page is and what
                it does.</p>
            <img src="https://www.w3schools.com/html/img_sem_elements.gif" />
        </header>
    </section>
</main>


<!-- <article>
    <aside>
    <details>
    <figcaption>
    <figure>
    <footer>
    <header>
    <main>
    <mark>
    <nav>
    <section>
    <summary>
    <time> -->