<header class="page-header">
    <h1>Designer Onboarding</h1>
</header>

<section class="component-container">
    <header>
        <h2>Summary</h2>
    </header>
    <p>The Rivet Design System is a collection of standardized components and visual styles (icons, colors, typography).
        Built in collaboration with our development and design teams, Advicent can now quickly create beautiful, simple,
        and consistent user experiences across all our products.
    </p>
</section>

<section class="component-container">
    <header>
        <h2>Designing accessible components</h2>
    </header>
    <p>
        Design specific instructions are coming soon. For documentation on things to keep in mind when creating
        components, visit
        <a class="rvt-link"
           target="new"
           href="https://advicent.atlassian.net/wiki/spaces/UX/pages/188448775/Creating+Accessible+Components">
            creating accessible components</a>
    </p>
</section>

<section class="component-container">
    <header>
        <h2>Questions or feedback</h2>
    </header>
    <p>For any questions, reach out to the DesignOps team through
        <a class="rvt-link"
           href="https://teams.microsoft.com/l/channel/19%3a081fa8ad2aa941c3a69ca1cbdde5a04e%40thread.skype/DesignOps?groupId=d90dbcfc-30ff-4ee0-a3e0-4ee8ca8068e5&tenantId=f91af43b-8c49-4e9a-9f11-4266967d477a"
           target="new">Teams</a>. Feature requests can be added in
        <a class="rvt-link"
           href="https://dev.azure.com/advicent/Naviplan/_backlogs/backlog/DesignOps/Backlog%20items"
           target="new">Azure</a>.</p>
</section>

<section class="component-container resources">
    <header>
        <h2>Resources</h2>
    </header>
    <p>Note: Some of these links may only work if you have a Sketch account <strong>and</strong> proper permissions.
    </p>
    <p>
        <a class="rvt-link"
           target="new"
           href="https://sketch.cloud/s/oVrp0">
           Component Sketch File
        </a>
        <a class="rvt-link"
           target="new"
           href="https://sketch.cloud/s/zZVDM">
           Rivet Library Sketch File
        </a>
        <a class="rvt-link"
           href="https://material.angular.io/components/categories"
           target="new">Angular Material</a>
        <a class="rvt-link"
           href="https://accessible-colors.com/"
           target="new">Color contrast checker</a>
        <a class="rvt-link"
           href="https://www.w3.org/TR/WCAG21/"
           target="new">WCAG guidelines</a>
    </p>
</section>