<header class="page-header">
    <h1>Card</h1>
</header>

<section class="component-container">
    <p>Cards are containers for grouped content.</p>
    <h3>Use Case</h3>
    <p>
        Use Cards to group related content that needs separation from the rest of the page. Use consistent spacing
        between each card if there is more than one.
    </p>
    <h3>Implementation</h3>
    <app-parameters [classesConfig]="classesConfig">
    </app-parameters>
</section>

<section class="component-container">
    <app-example-snippet>
        <div class="example-component">
            <section class="rvt-card">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras maximus viverra convallis. Aliquam
                efficitur
                augue nulla, vel hendrerit tellus viverra id. Nunc vehicula lorem non nulla vulputate porta. Cras
                facilisis
                lectus maximus egestas feugiat. Maecenas ac rhoncus lacus. Nulla dictum, justo porta facilisis
                ultricies,
                sapien nisl rhoncus lectus, a malesuada justo ante eget urna. Nam vel mi quis nibh tincidunt feugiat.
                Class
                aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec porttitor
                dolor
                condimentum odio ullamcorper, vitae laoreet urna condimentum. Nunc elementum, magna sed posuere viverra,
                leo
                urna semper nisi, ac congue risus sapien vitae dui. Cras at posuere ex. Nunc a metus sed purus
                pellentesque
                consectetur nec sed ipsum. Nam sagittis quam vel ipsum porta elementum. Maecenas sodales maximus erat,
                sed
                rhoncus mauris elementum et. Praesent sodales aliquam enim ut iaculis. Sed ipsum leo, molestie et
                bibendum
                ut, euismod quis nibh.
            </section>
        </div>
        <textarea class="example-code"
                  title="HTML"
                  readonly>
<section class="rvt-card">
    Lorem ipsum dolor...
</section>
        </textarea>
    </app-example-snippet>
</section>