<header class="page-header">
    <h1>Smart Funding Icon</h1>
</header>

<section class="component-container">
    <p>Smart funding icon denotes which accounts are utilizing smart funding</p>
    <h3>Use Case</h3>
    <p>
        Use to mark as smart funded, and use tooltip to give further clarity
    </p>
    <h3>Implementation</h3>
    <app-parameters [inputsConfig]="inputsConfig">
    </app-parameters>
</section>

<section class="component-container">
    <app-example-snippet>
        <div class="example-component">
            <rvt-smart-funding-icon smartFundingCharacter="S" smartFundingTooltip="Something explaining smart funding"></rvt-smart-funding-icon>
        </div>
        <textarea class="example-code"
                  title="HTML"
                  readonly>
<rvt-smart-funding-icon smartFundingCharacter="S" smartFundingTooltip="Something explaining smart funding"></rvt-smart-funding-icon>
        </textarea>
    </app-example-snippet>
</section>