<header class="page-header">
    <h1>Performance</h1>
</header>

<section class="content-container">
    <header>
        <h2>Browser Support</h2>
        <section>
            <p>
                In order to see if certain browsers support different functionality, check
                <a class="rvt-link"
                   href="https://www.caniuse.com"
                   target="new">caniuse.com</a>
            </p>
        </section>


        <section>
            <header>
                <h3>Polyfill</h3>
                <p>
                    Because Rivet uses CSS Custom Properties which aren't support by legacy browsers like IE11, it
                    requires a small snippet of code in order to function correctly. Add the following snippet to your
                    application to enable support in legacy browsers.
                </p>
            </header>
            <code>import {{ '{' }} rvtPolyfill {{ '}' }} from 'rivet-style';</code><br />
            <code>rvtPolyfill();</code>
            <p>
                If, when using this polyfill, you are noticing styles "pop in" to the page, you can import a scss style
                from
                Rivet that works alongside the Javascript snippet you imported above. Add the following to your global
                stylsheet:
            </p>
            <code>@import '~rivet-style/styles/polyfill.scss';</code><br />
            <p>Then add an id attribute with value <code>css-vars-root</code> to your <code>body</code> tag.</p>
        </section>

        <section>
            <header>
                <h3>IE11 & Animations</h3>
            </header>
            <p>
                Due to the small percentage of users (and shrinking) that still use IE11, it is only required that IE11
                users
                do not lose functionality while operating in our products. There may be instances when certain
                animations or
                visual effects appear in some browsers but not in IE, and this is acceptable as long as the user does
                not lose
                functionality or the lack of animations does not cause dramatic changes to the content.
            </p>
        </section>
    </header>
</section>